<!DOCTYPE html>
{# Import the theme's layout. #}
{% include "lgplv3.html" %}
{% extends "!layout.html" %}

<!-- {# Add some extra stuff before and use existing with 'super()' call. #}
{% block search %}
<form class="navbar-form navbar-right" action="search.html" method="get">
  <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </div>
  {{ super() }}
</form>
{% endblock %} -->

{# Add some extra stuff before and use existing with 'super()' call. #}
{% block footer %}
<div class="container-fluid navbar-dark navbar-expand-lg bg-primary">
  {{ super() }}
</div>
{% endblock %}

