/* Cursive font for titles and headers */
@import url('https://fonts.googleapis.com/css?family=Lemonada:600&display=swap');

/* Sans font for general text */
@import url('https://fonts.googleapis.com/css?family=Livvic:400&display=swap');

/* Monospaced font for code */
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css');

/*
 * Copyright © Nekoka.tt 2019
 *
 * This file is part of Hikari.
 *
 * Hikari is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Hikari is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Hikari. If not, see <https://www.gnu.org/licenses/>.
 */

/*
 * Apparently if it is too thin in width on display: block, it makes the html
 * element not fit the window, and then the text just flows off the viewport,
 * making the viewport only 2/3 of the screen and looking rediculous. If we use
 * flex, it mediates this but then on large devices the viewport snaps rather
 * than being responsive.
 */
html {
    display: flex !important;
    height: 100%;
}

@media screen and (min-width: 430px){
    html {
        display: block !important;
    }    
}


/*
 * Make body fill the viewport always
 */
body {
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*
 * Make the footer sticky to the bottom of the body.
 */
div.container-fluid.navbar-dark.navbar-expand-lg, .navbar {
    width: 100%;
}

.container {
  flex: 1 0 auto;
}


.navbar {
    top: 0;
}

.nav a {
    font-weight: bold;
}

#navbar.container {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    color: #90cdc3 !important;
}

a:hover {
    color: #46709a !important;
}

#navbar {
    border-radius: 0px !important;
}

.navbar a, .footer a {
    color: #ccc !important;
}

.bg-primary a:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}


/* 
 * Fixing some colouring issue
 */
.bg-primary {
    border-bottom-color: rgb(18, 123, 163) !important;
    border-left-color: rgb(18, 123, 163) !important;
    border-right-color: rgb(18, 123, 163) !important;
}

.footer a:active {
    color: #fff !important;
}

.dropdown-menu .caption {
    padding-left: 1em;
}

.dropdown-menu {
    color: #90cdc3 !important;
}

.dropdown-menu a, .dropdown-menu .caption {
    color: #90cdc3 !important;
}

.dropdown-menu a:hover {
    color: #46709a !important;
}

.nav {
    font-family: 'Livvic', sans-serif !important;
    font-weight: 400;
}

.footer {
    flex-shrink: 0;
}

footer:before {
    margin-bottom: 1em;
}

footer.footer {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    border: 0;
}

code, .highlight {
    font-family: 'Fira Code', monospace;
    font-feature-settings: "calt" 1;
    font-variant-ligatures: contextual;
    color: #46709a;
}

.navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lemonada', cursive !important;
    font-weight: 600;
}

dl {
    margin-top: 0em;
    margin-bottom: 0em;
}

dl.class {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
}

dl > dd {
    margin-left: 4em;
    font-size: 90%;
}

.sig-name.descname {
    font-size: inherit !important;
}
